<!DOCTYPE html>
<html   th:replace="~{layout/layout :: layout(~{::title},~{::section},~{::script})}" 
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Yorimichi Project </title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-2">첫번쨰</div>
                <div class="col-2">첫번쨰</div>
                <div class="col-2">첫번쨰</div>
                <div class="col-2">첫번쨰</div>
                <div class="col-2">첫번쨰</div>
                <div class="col-2">첫번쨰</div>
            </div>
            <div class="row">
                <div class="col"><p>asdfasdfasdf</p> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col">a</div>
                    </div>
                    <div class="row">
                        <div class="col">b</div>
                    </div>
                    <div class="row">
                        <div class="col">c</div>
                    </div>
                    <div class="row">
                        <div class="col">d</div>
                    </div>
                    <div class="row">
                        <div class="col">e</div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col">가</div>
                    </div>
                    <div class="row">
                        <div class="col">나</div>
                    </div>
                    <div class="row">
                        <div class="col">다</div>
                    </div>
                    <div class="row">
                        <div class="col">라</div>
                    </div>
                    <div class="row">
                        <div class="col">마</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>