<div class="row gap-2 shadow p-4 gx-0">

	<div class="col-12">
		<div class="d-flex">
			<div class="ratio ratio-1x1" style="width: 10rem;">
				<img src="https://picsum.photos/280" th:alt="#{store.list.item.image}">
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="d-flex justify-content-between">
			<h3 th:text="${ store?.name } ?: #{index.featured.store.name}"></h3>
			<div>
				<button type="button" class="btn btn-outline-secondary" th:data-liked="${ store.like != null }"
					onclick="toggleLike(event)">
					<i class="bi text-danger" th:classappend="${ store.like } ? 'bi-heart-fill' : 'bi-heart'"></i>
					<span th:text="#{store.list.search.likes}">
						좋아요
					</span>
				</button>
				<button type="button" class="btn btn-outline-secondary"
					th:data-marked="${ store.bookmark != null }"
					onclick="toggleBookmark(event)">
					<i class="bi text-warning" th:classappend="${ store.bookmark } ? 'bi-bookmark-fill' : 'bi-bookmark'"></i>
					<span th:text="#{store.list.search.bookmarks}">
						즐겨찾기
					</span>
				</button>
				<button type="button" class="btn btn-outline-secondary" onclick="shareStore()">
					<i class="bi bi-share text-info"></i>
					<span th:text="#{store.info.button.share}">
						공유
					</span>
				</button>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div>
			<i class="bi bi-pin"></i>
			<span th:text="${ store?.address?.roadAddressText } ?: #{store.info.address}"></span>
		</div>
		<div>
			<i class="bi bi-telephone"></i>
			<span th:text="${ store?.phone } ?: #{store.info.phone}"></span>
		</div>
		<div>
			<i class="bi bi-watch"></i>
			<a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseOpentime" th:text="#{store.info.opening_hours}">
				영업중 오늘 (수) 영업시간: 11:00 ~ 22:00
			</a>
			<div class="collapse" id="collapseOpentime">
				<div class="card card-body" th:text="#{store.info.opening_hours.monday}">

					월요일 영업시간: 11:00 ~ 22:00
				</div>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="d-flex gap-1">
			<span th:text="#{store.info.rating}">평점 : </span>
			<i class="bi bi-star-fill text-warning"
				th:each="item : ${#numbers.sequence(1, store?.review?.avgRating)}">
			</i>
			<span th:text="${ store?.review?.avgRating } + ' ' + #{store.info.rating.unit} + ' (' + ${ store?.review?.reviewCount } + ' ' + #{store.info.rating.people} + ')'">
			</span>
		</div>
	</div>

	<div class="col-12">
		<div class="d-flex gap-2">
			<i class="bi bi-tag"></i>
			<a
				class="text-decoration-none"
				th:href="@{'/search?keyword=' + ${ item?.name } }"
				th:each="item : ${ store.keywords }"
				th:text="${ '#' + item?.name }"></a>
		</div>
	</div>

</div>