<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<body>   
<footer th:fragment="footer" class="bg-ymsecondary-bright text-ymwhite">
    <div class="container py-5">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="fs-5 fw-bold mb-4">Yorimichi</div>
                    <div class="fs-5">맛있는 식사의 시작</div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <p>만든이</p>
                        <a th:href="@{https://github.com/eden8631}">김도윤</a><br>
                        <a th:href="@{https://github.com/GeonHoKoo}">구건호</a><br>
                        <a th:href="@{https://github.com/Renseo}">김슬찬</a><br>
                        <a th:href="@{https://github.com/3ll3702}">윤찬</a><br>
                        <a th:href="@{https://github.com/mj2sdev}">정민재</a><br>
                        <a th:href="@{https://github.com/Isha-dev}">양유찬</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <p>유튜브 링크</p>
                        <a th:href="@{https://www.youtube.com/}">바로가기</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <p>기술 스택</p>
                        <a th:href="@{https://spring.io/projects/spring-boot}">스프링부트</a><br>
                        <a th:href="@{https://www.thymeleaf.org/}">타임리프</a><br>
                        <a th:href="@{https://getbootstrap.kr/}">부트스트랩</a><br>
                        <a th:href="@{https://mariadb.org/}">마리아디비</a><br>
                        <a th:href="@{https://mybatis.org/mybatis-3/}">마이바티스</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p style="text-align:right">Copyright 2025 Team3 All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>