<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.AddressMapper">

    <!-- @formatter:off -->

    <select id="selectRoadAddressTextById" resultType="AddressDTO">
        SELECT
            road_address_text

        FROM address

        WHERE id = #{addressId}
    </select>

    <select id="selectById" parameterType="long" resultType="AddressDTO">
        SELECT
            id,
            emd_id,
            detail,
            road_address_text,
            jibun_address_text,
            place_id,
            created_at,
            updated_at

        FROM address

        WHERE id = #{addressId}
    </select>

    <select id="selectIdByPlaceId" parameterType="string" resultType="long">
        SELECT
            id

        FROM address

        WHERE place_id = #{placeId}
    </select>

    <select id="existsById" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1

            FROM address

            WHERE id = #{addressId}
        )
    </select>

    <insert id="upsert"
            parameterType="AddressDTO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO address (emd_id,
                             detail,
                             road_address_text,
                             jibun_address_text,
                             place_id)
        VALUES (#{emdId},
                #{detail},
                #{roadAddressText},
                #{jibunAddressText},
                #{placeId})

        ON DUPLICATE KEY UPDATE
            emd_id = VALUES(emd_id),
            detail = VALUES(detail),
            road_address_text = VALUES(road_address_text),
            jibun_address_text = VALUES(jibun_address_text)
    </insert>

    <insert id="insert"
            parameterType="AddressDTO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO address (emd_id,
                             detail,
                             road_address_text,
                             jibun_address_text,
                             place_id)
        VALUES (#{emdId},
                #{detail},
                #{roadAddressText},
                #{jibunAddressText},
                #{placeId})
    </insert>

    <update id="update" parameterType="AddressDTO">
        UPDATE address

        SET
            emd_id = #{emdId},
            detail = #{detail},
            road_address_text = #{roadAddressText},
            jibun_address_text = #{jibunAddressText},
            place_id = #{placeId}

        WHERE id = #{addressId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE

        FROM address

        WHERE id = #{addressId}
    </delete>

    <!-- @formatter:on -->

</mapper>