<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.AddressMapper">

    <!-- @formatter:off -->

    <select id="selectRoadAddressTextById" resultType="AddressDTO">
        SELECT
            road_address_text

        FROM address

        WHERE id = #{addressId}
    </select>

    <select id="selectById" parameterType="long" resultType="AddressDTO">
        SELECT
            id,
            emd_id,
            detail,
            road_address_text,
            jibun_address_text,
            place_id,
            created_at,
            updated_at

        FROM address

        WHERE id = #{addressId}
    </select>

    <!--
        @Param("emdId") Long emdId,
        @Param("roadAddressText") String roadAddressText,
        @Param("jibunAddressText") String jibunAddressText,
        @Param("detail") String detail
    -->

    <select id="selectIdByNaturalKey" resultType="long">
        SELECT id

        FROM address

        WHERE
            emd_id = #{emdId}
            AND road_address_text = #{roadAddressText}
            AND jibun_address_text = #{jibunAddressText}
            AND detail = #{detail}
    </select>

    <insert id="insert"
            parameterType="AddressDTO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO address (emd_id,
                             detail,
                             road_address_text,
                             jibun_address_text,
                             place_id)
        VALUES (#{emdId},
                #{detail},
                #{roadAddressText},
                #{jibunAddressText},
                #{placeId})
    </insert>

    <update id="update" parameterType="AddressDTO">
        UPDATE address

        SET
            emd_id = #{emdId},
            detail = #{detail},
            road_address_text = #{roadAddressText},
            jibun_address_text = #{jibunAddressText},
            place_id = #{placeId}

        WHERE id = #{addressId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE

        FROM address

        WHERE id = #{addressId}
    </delete>

    <!-- @formatter:on -->

</mapper>