<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.AddressMapper">

    <!-- @formatter:off -->

    <select id="selectById" parameterType="Long" resultType="AddressDTO">
        SELECT
            id,
            road_id,
            postal_id,
            detail,
            road_address_text,
            jibun_address_text,
            latitude,
            longitude,
            created_at,
            updated_at
        FROM address
        WHERE id = #{addressId}
    </select>

    <select id="selectRoadAddressTextById" resultType="AddressDTO">
        SELECT road_address_text
        FROM address
        WHERE id = #{addressId}
    </select>

    <insert id="insert" parameterType="AddressDTO">
        INSERT INTO address (road_id,
                             postal_id,
                             detail,
                             road_address_text,
                             jibun_address_text,
                             latitude,
                             longitude)
        VALUES (#{roadId},
                #{postalId},
                #{detail},
                #{roadAddressText},
                #{jibunAddressText},
                #{latitude},
                #{longitude})
    </insert>

    <update id="update" parameterType="AddressDTO">
        UPDATE address
        SET
            road_id = #{roadId},
            postal_id = #{postalId},
            detail = #{detail},
            road_address_text = #{roadAddressText},
            jibun_address_text = #{jibunAddressText},
            latitude = #{latitude},
            longitude = #{longitude}
        WHERE id = #{addressId}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE
        FROM address
        WHERE id = #{addressId}
    </delete>

    <!-- @formatter:on -->

</mapper>