<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.BlockMapper">

    <!-- @formatter:off -->

    <select id="selectAllByUserId" parameterType="long" resultType="UserDTO">
        SELECT u.*
        FROM user u
        JOIN block b ON b.blockee_id = u.id 
        WHERE b.blocker_id = #{userId}
        ORDER BY b.created_at DESC;
    </select>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM block
            WHERE blocker_id = #{blockerId}
                AND blockee_id = #{blockeeId}
        )
    </select>

    <select id="existsEitherWay" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM block
            WHERE (blocker_id = #{blockerId} AND blockee_id = #{blockeeId})
                OR (blocker_id = #{blockeeId} AND blockee_id = #{blockerId})
        )
    </select>

    <insert id="insert">
        INSERT INTO block (blocker_id, blockee_id)
        VALUES (#{blockerId}, #{blockeeId})
    </insert>

    <delete id="delete">
        DELETE
        FROM block
        WHERE blocker_id = #{blockerId}
          AND blockee_id = #{blockeeId}
    </delete>

    <!-- @formatter:on -->

</mapper>
