<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.BookmarkMapper">

    <!-- @formatter:off -->

    <select id="selectByUserId" parameterType="long" resultType="StoreDTO">
        SELECT s.*
        FROM store s
        JOIN bookmark b ON s.id = b.store_id
        WHERE b.user_id = #{userId}
        ORDER BY b.created_at DESC, b.store_id DESC
    </select>

    <select id="countByStoreId" resultType="BookmarkDTO">
        SELECT COUNT(*) AS count
        FROM bookmark
        WHERE store_id = #{storeId}
    </select>

    <insert id="insert">
        INSERT INTO bookmark (user_id, store_id)
        VALUES (#{userId}, #{storeId})
    </insert>

    <delete id="delete">
        DELETE
        FROM bookmark
        WHERE user_id = #{userId}
          AND store_id = #{storeId}
    </delete>

    <!-- @formatter:off -->

</mapper>