<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.CategoryMapper">

    <!-- @formatter:off -->

    <select id="selectSlice" resultType="CategoryDTO">
        SELECT id,
               parent_id,
               name,
               created_at,
               updated_at
        FROM category
        <where>
            <if test="categoryId != null">
                id > #{categoryId}
            </if>
        </where>
        ORDER BY id
        LIMIT #{size}
    </select>

    <select id="selectById" parameterType="long" resultType="CategoryDTO">
        SELECT id,
               parent_id,
               name,
               created_at,
               updated_at
        FROM category
        WHERE id = #{categoryId}
    </select>

    <select id="selectIdByParentAndName" resultType="long">
        SELECT
            id

        FROM category

        WHERE
            <if test="parentId == null"> parent_id IS NULL </if>
            <if test="parentId != null"> parent_id = #{parentId} </if>
            AND name = #{name}
    </select>

    <select id="existsById" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM category
            WHERE id = #{categoryId}
       )
    </select>

    <insert id="insert"
            parameterType="CategoryDTO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO category (parent_id, name)
        VALUES (#{parentId}, #{name})
    </insert>

    <update id="update">
        UPDATE category
        SET parent_id = #{category.parentId},
            name = #{category.name}
        WHERE id = #{categoryId}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE
        FROM category
        WHERE id = #{categoryId}
    </delete>

    <!-- @formatter:on -->

</mapper>