<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.CoeatRequestMapper">

    <!-- @formatter:off -->
    <resultMap id="coeatRequestMap" type="CoeatRequestDTO">
        <association property="user" column="{userId=user_id}" select="com.jslhrd.yorimichi.mapper.UserMapper.selectProfileByUserId"/>
    </resultMap>

    <select id="selectAllByCoeatId" parameterType="map" resultMap="coeatRequestMap">
        SELECT
            cr.coeat_id,
            cr.user_id,
            cr.status,
            cr.message,
            cr.created_at,
            cr.updated_at

        FROM coeat_request cr

        JOIN user u ON u.id = cr.user_id

        WHERE cr.coeat_id = #{ coeatId }
    </select>

    <select id="selectStatus" resultType="com.jslhrd.yorimichi.enums.CoeatRequestStatus">
        SELECT status
        FROM coeat_request
        WHERE coeat_id = #{coeatId}
            AND user_id = #{userId}
        FOR UPDATE
    </select>

    <select id="countApprovedById" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM coeat_request
        WHERE coeat_id = #{coeatId}
            AND status = 'APPROVED'
        FOR UPDATE
    </select>

    <select id="isApproved" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM coeat_request c
            WHERE c.user_id = #{userId}
              AND c.coeat_id = #{coeatId}
              AND c.status = 'APPROVED'
        )
    </select>

    <select id="isRequester" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM coeat_request
            WHERE coeat_id = #{coeatId}
                AND user_id = #{userId}
        )
    </select>

    <insert id="insert" parameterType="CoeatRequestDTO">
        INSERT INTO coeat_request (coeat_id, user_id, message)
        VALUES (#{coeatId}, #{userId}, #{message})
    </insert>

    <update id="updateStatus">
        UPDATE coeat_request
        SET status = #{to}
        WHERE coeat_id = #{coeatId}
            AND user_id = #{userId}
            AND status = #{cur}
    </update>

    <!-- @formatter:on -->

</mapper>