<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.CommentMapper">

    <!-- @formatter:off -->

    <select id="selectAll" resultType="CommentDTO">
        SELECT c.id,
               c.coeat_id,
               c.parent_id,
               c.user_id,
               c.content,
               r.created_at,
               r.updated_at
        FROM comment c
        JOIN root r ON c.id = r.id
            AND r.type = 'COMMENT'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        ORDER BY r.created_at DESC;
    </select>

    <resultMap id="commentMap" type="CommentDTO">
        <association
            property="user"
            column="{userId=user_id}"
            select="com.jslhrd.yorimichi.mapper.UserMapper.selectProfileByUserId" />
    </resultMap>

    <select id="selectAllByCoeatId" resultMap="commentMap">
        SELECT c.id,
                c.coeat_id,
                c.parent_id,
                c.user_id,
                c.content,
                r.created_at,
                r.updated_at
        FROM comment c
        JOIN root r ON c.id = r.id
        AND r.type = 'COMMENT'
        AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        WHERE c.coeat_id = #{coeatId}
        ORDER BY r.created_at DESC;
    </select>

    <select id="selectAllByParentId" resultType="CommentDTO">
        SELECT c.id,
               c.coeat_id,
               c.parent_id,
               c.user_id,
               c.content,
               r.created_at,
               r.updated_at
        FROM comment c
        JOIN root r ON c.id = r.id
            AND r.type = 'COMMENT'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        WHERE c.content = #{coeatId}
            AND c.parent_id = #{parentId}
        ORDER BY r.created_at DESC;
    </select>

    <select id="existsActive" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM comment c
            JOIN root r ON c.id = r.id
                AND r.type = 'COMMENT'
                AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
            WHERE c.coeat_id = #{coeatId}
                AND c.id = #{commentId}
        )
    </select>

    <insert id="insert" parameterType="CommentDTO">
        INSERT INTO comment (id, coeat_id, parent_id, user_id, content)
        VALUES (#{id}, #{coeatId}, #{parentId}, #{userId}, #{content})
    </insert>

    <update id="update">
        UPDATE comment c
        JOIN root r ON c.id = r.id
            AND r.type = 'COMMENT'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        SET c.content = #{comment.content},
            r.updated_at = NOW()
        WHERE c.coeat_id = #{coeatId}
            AND c.user_id = #{userId}
            AND c.id = #{commentId}
    </update>

    <update id="deleteById">
        UPDATE comment c
        JOIN root r ON c.id = r.id
            AND r.type = 'COMMENT'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        SET r.deleted_at = NOW()
        WHERE c.coeat_id = #{coeatId}
            AND c.user_id = #{userId}
            AND c.id = #{commentId}
    </update>

    <!-- @formatter:on -->

</mapper>