<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.FollowMapper">

    <!-- @formatter:off -->

    <select id="selectFolloweesByUserId" parameterType="long" resultType="UserDTO">
        SELECT u.*
        FROM user u
        JOIN follow f ON f.followee_id = u.id
        WHERE follower_id = #{userId}
        ORDER BY created_at DESC;
    </select>

    <select id="selectFollowersByUserId" parameterType="long" resultType="UserDTO">
        SELECT u.*
        FROM user u
        JOIN follow f ON f.follower_id = u.id
        WHERE followee_id = #{userId}
        ORDER BY created_at DESC;
    </select>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM follow
            WHERE follower_id = #{followerId}
                AND followee_id = #{followeeId}
        )
    </select>

    <insert id="insert">
        INSERT INTO follow (follower_id, followee_id)
        VALUES (#{followerId}, #{followeeId})
    </insert>

    <update id="updateNotification">
        UPDATE follow
        SET notified = #{notified},
            updated_at = NOW()
        WHERE follower_id = #{followerId}
            AND followee_id = #{followeeId}
            AND notified != #{notified}
    </update>

    <delete id="delete">
        DELETE
        FROM follow
        WHERE follower_id = #{followerId}
            AND followee_id = #{followeeId}
    </delete>

    <delete id="deleteBothDirections">
        DELETE
        FROM follow
        WHERE (follower_id = #{followerId} AND followee_id = #{followeeId})
            OR (follower_id = #{followeeId} AND followee_id = #{followerId})
    </delete>

    <!-- @formatter:on -->

</mapper>