<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.FoodMapper">

    <!-- @formatter:off -->

    <select id="selectAll">
        SELECT f.id
                f.sotre_id,
                f.name,
                f.price,
                f.description,
                f.created_at,
                f.updated_at
        FROM food f
        JOIN root r ON f.id = r.id
        AND r.type = 'FOOD'
        AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
    </select>

    <select id="selectAllByStoreId" parameterType="map" resultType="FoodDTO">
        SELECT
            f.id,
            f.store_id,
            f.name,
            f.price,
            f.description,
            r.created_at,
            r.updated_at
        FROM food f
        JOIN root r ON f.id = r.id
            AND r.type = 'FOOD'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        WHERE f.store_id = #{ storeId }
        ORDER BY r.created_at DESC;
    </select>

    <select id="selectByReviewIds" resultType="FoodDTO">
        SELECT
            rf.review_id,
            f.id,
            f.name,
            f.price,

        FROM review_food rf

        JOIN food f ON f.id = rf.food_id

        WHERE rf.review_id IN
            <foreach collection="reviewIds" item="reviewId" open="(" close=")" separator=",">
                #{reviewId}
            </foreach>

        ORDER BY f.name
    </select>

    <select id="selectById" parameterType="long" resultType="FoodDTO">
        SELECT f.id,
               f.store_id,
               f.name,
               f.price,
               f.description,
               r.created_at,
               r.updated_at
        FROM food f
        JOIN root r ON f.id = r.id
            AND r.type = 'FOOD'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        WHERE f.id = #{foodId}
    </select>

    <select id="existsActive" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM food f
            JOIN root r ON f.id = r.id
                AND r.type = 'FOOD'
                AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
            WHERE f.id = #{foodId}
        )
    </select>

    <insert id="insert" parameterType="FoodDTO">
        INSERT INTO food (id, store_id, name, price, description)
        VALUES (#{id}, #{storeId}, #{name}, #{price}, #{description})
    </insert>

    <update id="update">
        UPDATE food f
        JOIN root r ON f.id = r.id
            AND r.type = 'FOOD'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        SET f.name = #{food.name},
            f.price = #{food.price},
            f.description = #{food.description},
            r.updated_at = NOW()
        WHERE f.store_id = #{storeId}
            AND f.id = #{foodId}
    </update>

    <update id="deleteById">
        UPDATE food f
        JOIN root r ON f.id = r.id
            AND r.type = 'FOOD'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        SET r.deleted_at = NOW()
        WHERE f.store_id = #{storeId}
            AND f.id = #{foodId}
    </update>

    <!-- @formatter:on -->

</mapper>