<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.RootMapper">

    <!-- @formatter:off -->

    <select id="existsActive" parameterType="long" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM root
            WHERE id = #{rootId}
        )
    </select>

    <insert id="insert"
            parameterType="RootDTO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO root (type)
        VALUES (#{type})
    </insert>

    <update id="deleteById" parameterType="long">
        UPDATE root
        SET deleted_at = CURRENT_TIMESTAMP
        WHERE id = #{rootId}
    </update>

    <!-- @formatter:on -->

</mapper>