<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.RootKeywordMapper">

    <!-- @formatter:off -->

    <insert id="insertIgnore">
        INSERT IGNORE INTO root_keyword (root_id, keyword_id)
        VALUES (#{rootId}, #{keywordId})
    </insert>

    <insert id="insert">
        INSERT IGNORE INTO root_keyword (root_id, keyword_id)
        VALUES (#{rootId}, #{keywordId})
    </insert>

    <delete id="delete">
        DELETE FROM root_keyword
        WHERE root_id = #{rootId}
            AND keyword_id = #{keywordId}
    </delete>

    <!-- @formatter:off -->

</mapper>