<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.StoreMapper">

    <!-- @formatter:off -->

    <select id="selectAll" resultType="StoreDTO">
        SELECT
            s.id,
            s.address_id,
            s.name,
            s.description,
            s.phone,
            r.created_at,
            r.updated_at
        FROM store s

        JOIN root r ON s.id = r.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        ORDER BY r.created_at DESC
    </select>

    <resultMap id="RecommendStoreMap" type="StoreDTO">
        <id     column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>

        <association property="address"
                     javaType="AddressDTO"
                     column="{addressId=address_id}"
                     select="com.jslhrd.yorimichi.mapper.AddressMapper.selectRoadAddressTextById"/>

        <association property="review"
                     javaType="ReviewDTO"
                     column="{storeId=id, lookbackDays=lookback_days}"
                     select="com.jslhrd.yorimichi.mapper.ReviewMapper.selectStatsByStoreId"/>

        <association property="like"
                     javaType="LikeDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.LikeMapper.countByRootId"/>

        <association property="bookmark"
                     javaType="BookmarkDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.BookmarkMapper.countByStoreId"/>

        <association property="coeat"
                     javaType="CoeatDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.CoeatMapper.selectOpenCountByStoreId"/>

        <association property="image"
                     javaType="ImageDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.ImageMapper.selectPrimaryByStoreId"/>
    </resultMap>
    <select id="selectRecommend"  resultMap="RecommendStoreMap">
        SELECT
            s.id,
            s.address_id,
            s.name,
            s.description,
            #{lookbackDays} AS lookback_days

        FROM store s

        JOIN root r ON r.id = s.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        ORDER BY s.id DESC

        LIMIT #{limit}
    </select>

    <resultMap id="StoreMap" type="StoreDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="summaredReview" column="summared_review"/>
        <association property="review" column="{storeId=id}" select="com.jslhrd.yorimichi.mapper.ReviewMapper.selectAvgRatingByStoreId">
            <result property="avgRating" column="avgRating"/>
            <result property="ratingCount" column="ratingCount"/>
        </association>
        <association property="address" column="address">
            <result property="detail" column="detail"/>
            <result property="roadAddressText" column="road_address_text"/>
            <result property="jibunAddressText" column="jibun_address_text"/>
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
        </association>
        <association property="like">
            <result property="userId" column="like_user_id"/>
        </association>
        <association property="bookmark">
            <result property="userId" column="bookmark_user_id"/>
        </association>
        <collection
            property="foods"
            ofType="FoodDTO"
            select="com.jslhrd.yorimichi.mapper.FoodMapper.selectAllByStoreId"
            column="{storeId=id}">
        </collection>
        <collection
            property="images"
            ofType="ImageDTO"
            select="com.jslhrd.yorimichi.mapper.ImageMapper.selectAllByRootId"
            column="{rootId=id}">
        </collection>
        <collection
            property="keywords"
            ofType="KeywordDTO"
            select="com.jslhrd.yorimichi.mapper.KeywordMapper.selectAllByRootId"
            column="{rootId=id}">
        </collection>
        <collection
            property="reviews"
            ofType="ReviewDTO"
            select="com.jslhrd.yorimichi.mapper.ReviewMapper.selectAllByStoreId"
            column="{storeId=id}">
        </collection>
        <collection
            property="coeats"
            ofType="CoeatDTO"
            select="com.jslhrd.yorimichi.mapper.CoeatMapper.selectAllByStoreId"
            column="{storeId=id}">
        </collection>
    </resultMap>

    <select id="selectById" parameterType="long" resultMap="StoreMap">
        SELECT
            s.id,
            s.address_id,
            s.name,
            s.description,
            s.phone,
            s.summared_review,
            r.created_at,
            r.updated_at,

            a.detail,
            a.road_address_text,
            a.jibun_address_text,
            a.latitude,
            a.longitude,

            l.user_id as like_user_id,
            b.user_id as bookmark_user_id
        FROM store s

        JOIN root r ON s.id = r.id
        <include refid="com.jslhrd.yorimichi.mapper.common.RootType">
            <property name="type" value="'STORE'"/>
        </include>
        AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        JOIN address a ON s.address_id = a.id

        LEFT JOIN likes l ON l.root_id = s.id
        AND l.user_id = #{ userId }

        LEFT JOIN bookmark b ON b.store_id = s.id
        AND b.user_id = #{ userId }

        WHERE s.id = #{storeId}
    </select>

    <select id="selectIdByAddressIdAndName" resultType="long">
        SELECT
            id

        FROM store

        WHERE
            address_id = #{addressId}
            AND name = #{name}
    </select>

    <select id="existsActive" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1

            FROM store s

            JOIN root r ON s.id = r.id
                AND r.type = 'STORE'
                AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

            WHERE s.id = #{storeId}
        )
    </select>

    <insert id="insert" parameterType="StoreDTO">
        INSERT INTO store (id,
                           address_id,
                           name,
                           description,
                           phone)
        VALUES (#{id},
                #{addressId},
                #{name},
                #{description},
                #{phone})
    </insert>

    <update id="update">
        UPDATE store s

        JOIN root r ON s.id = r.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        SET
            s.address_id = #{store.addressId},
            s.name = #{store.name},
            s.description = #{store.description},
            s.phone = #{store.phone},
            r.updated_at = NOW()

        WHERE s.id = #{storeId}
    </update>

    <update id="deleteById" parameterType="long">
        UPDATE store s

        JOIN root r ON s.id = r.id

            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        SET r.deleted_at = NOW()

        WHERE s.id = #{storeId}
    </update>

    <!-- @formatter:on -->

</mapper>