<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.StoreMapper">

    <!-- @formatter:off -->

    <select id="selectAll" resultType="StoreDTO">
        SELECT
            s.id,
            s.address_id,
            s.name,
            s.description,
            s.phone,
            r.created_at,
            r.updated_at
        FROM store s

        JOIN root r ON s.id = r.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        ORDER BY r.created_at DESC
    </select>

    <resultMap id="RecommendStoreMap" type="StoreDTO">
        <id     column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>

        <association property="address"
                     javaType="AddressDTO"
                     column="{addressId=address_id}"
                     select="com.jslhrd.yorimichi.mapper.AddressMapper.selectRoadAddressTextById"/>

        <association property="review"
                     javaType="ReviewDTO"
                     column="{storeId=id, lookbackDays=lookback_days}"
                     select="com.jslhrd.yorimichi.mapper.ReviewMapper.selectStatsByStoreId"/>

        <association property="like"
                     javaType="LikeDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.LikeMapper.countByRootId"/>

        <association property="bookmark"
                     javaType="BookmarkDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.BookmarkMapper.countByStoreId"/>

        <association property="coeat"
                     javaType="CoeatDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.CoeatMapper.selectOpenCountByStoreId"/>

        <association property="image"
                     javaType="ImageDTO"
                     column="{storeId=id}"
                     select="com.jslhrd.yorimichi.mapper.ImageMapper.selectPrimaryByStoreId"/>
    </resultMap>
    <select id="selectRecommend"  resultMap="RecommendStoreMap">
        SELECT
            s.id,
            s.address_id,
            s.name,
            s.description,
            #{lookbackDays} AS lookback_days

        FROM store s

        JOIN root r ON r.id = s.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        ORDER BY s.id DESC

        LIMIT #{limit}
    </select>

    <select id="selectById" parameterType="long" resultType="StoreDTO">
        SELECT
            s.id,
            s.address_id,
            s.name,
            s.description,
            s.phone,
            r.created_at,
            r.updated_at

        FROM store s

        JOIN root r ON s.id = r.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        WHERE s.id = #{storeId}
    </select>

    <select id="selectIdByAddressIdAndName" resultType="long">
        SELECT
            id

        FROM store

        WHERE
            address_id = #{addressId}
            AND name = #{name}
    </select>

    <select id="existsActive" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1

            FROM store s

            JOIN root r ON s.id = r.id
                AND r.type = 'STORE'
                AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

            WHERE s.id = #{storeId}
        )
    </select>

    <insert id="insert" parameterType="StoreDTO">
        INSERT INTO store (id,
                           address_id,
                           name,
                           description,
                           phone)
        VALUES (#{id},
                #{addressId},
                #{name},
                #{description},
                #{phone})
    </insert>

    <update id="update">
        UPDATE store s

        JOIN root r ON s.id = r.id
            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        SET
            s.address_id = #{store.addressId},
            s.name = #{store.name},
            s.description = #{store.description},
            s.phone = #{store.phone},
            r.updated_at = NOW()

        WHERE s.id = #{storeId}
    </update>

    <update id="deleteById" parameterType="long">
        UPDATE store s

        JOIN root r ON s.id = r.id

            AND r.type = 'STORE'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>

        SET r.deleted_at = NOW()

        WHERE s.id = #{storeId}
    </update>

    <!-- @formatter:on -->

</mapper>