<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="notification">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
			<i class="bi bi-lightbulb"></i>
			<span th:text="#{header.notifications}"></span>
		</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" th:aria-label="#{common.close}"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="list-group">
			<li
				@click="readNotification(item.id)"
				v-for="(item, index) in notifications" :key="index"
				class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
				<div class="ms-2 me-auto">
					<div class="fw-bold" 
						 th:data-suffix="' ' + #{notification.suffix}" 
						 v-text="typeString(item.type) + $el.dataset.suffix"></div>
					<span v-text="item.message"></span>
				</div>
				<span class="badge rounded-pill" 
					  th:data-unread="#{notification.status.unread}"
					  th:data-read="#{notification.status.read}"
					  :class="{ 'text-bg-danger': (item.readAt == null), 'text-bg-success': (item.readAt != null) }" 
					  v-text="item.readAt == null ? $el.dataset.unread : $el.dataset.read"></span>
			</li>

			<li class="list-group-item text-center fs-5" th:if="${ false }" th:text="#{notification.empty}">
			</li>
		</ul>

	</div>
</div>
<script defer src="/js/notificationVue.js"></script>