<form class="modal fade" id="coeatwriting" tabindex="-1" onsubmit="writeCoeat(event)">
	<input type="hidden" name="storeId" th:value="${ store?.id }">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">

			<div class="modal-header">
				<h1 class="modal-title fs-5" id="coeatwritingLabel" th:text="#{coeat.modal.write.title}">같이먹기 양식</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div class="mb-3">
					<div class="input-group">
						<label class="input-group-text" for="coeatTitle" th:text="#{coeat.modal.write.label.title}">제목</label>
						<input name="title" id="coeatTitle" class="form-control" th:placeholder="#{coeat.modal.write.placeholder.title}" required>
					</div>
				</div>
				<div class="row mb-3 row-gap-2">
					<div class="col-12 col-lg-6">
						<div class="input-group">
							<label class="input-group-text" for="coeatCapacity" th:text="#{coeat.modal.write.label.capacity}">인원</label>
							<input type="number" min="2" max="10" name="capacity" id="coeatCapacity" class="form-control" th:placeholder="#{coeat.modal.write.placeholder.capacity}" th:title="#{coeat.modal.write.title.capacity}" required>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="input-group">
							<label class="input-group-text" for="coeatMeetingAt" th:text="#{coeat.modal.write.label.date}">날짜</label>
							<input type="datetime-local" name="meetingAt" id="coeatMeetingAt" class="form-control" required data-max-date="1">
						</div>
					</div>
				</div>

				<div class="input-group mb-3">
					<span class="input-group-text" th:text="#{coeat.modal.write.label.content}">내용</span>
					<textarea class="form-control" th:placeholder="#{coeat.modal.write.placeholder.content}" name="content" rows="5" required></textarea>
				</div>

			</div>
			<div class="modal-footer">
				<div class="flex-grow-1">
					<label>
						<input type="checkbox" class="form-check-input" name="autoAccept" value="true">
						<span class="ms-2" th:text="#{coeat.modal.write.label.auto_accept}">		
							참가 요청을 자동으로 승인합니다.
						</span>
					</label>
				</div>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{common.cancel}">취소</button>
				<button type="submit" class="btn btn-ymprimary" th:text="#{coeat.modal.write.button.submit}">작성완료</button>
			</div>
		</div>
	</div>
</form>