<!DOCTYPE html>
<html th:replace="~{layout/main :: params(~{::head/content()},~{::body/content()})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<script defer src="/js/user/mypage/myinfo.js"></script>
	<title> Yorimichi Project </title>
</head>

<body>
	<div class="container my-4">
		<div class="row">
			<div class="col-9">
				<div class="row justify-content-center">
					<div class="col-4 text-center fs-1">
						<ul class="list-unstyled">
							<li>
								<h1 th:text="${user.nickname}" class="text-center"
									aria-label="Username" aria-describedby="addon-wrapping"></h1> 
							</li>
						</ul>
					</div>
				</div>
				<div class="row my-4 justify-content-center">
					<div class="col-8 text-center">
						<img th:src="${user.image != null ? user.image : '/images/default-profile.png'}" class="mx-auto border rounded-circle">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-4 text-center fs-1">
						<ul class="list-unstyled">
							<li>
								<p th:text="${user.description}" class="form-control text-center"
									aria-label="Description" aria-describedby="addon-wrapping"></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8 my-4 border border-3">
				<nav>
					<div class="nav nav-tabs" id="nav-tab-main" role="tablist">
						<button class="nav-link active" id="nav-review-tab" data-bs-toggle="tab"
							data-bs-target="#nav-review" type="button" role="tab"
							aria-controls="nav-review" aria-selected="true"
							th:text="#{user.mypage.tab.reviews}">
							리뷰
						</button>
						<button class="nav-link" id="nav-like-tab" data-bs-toggle="tab"
							data-bs-target="#nav-like" type="button" role="tab" aria-controls="nav-like"
							aria-selected="false" th:text="#{user.mypage.tab.likes}">
							좋아요
						</button>
						<button class="nav-link" id="nav-bookmark-tab" data-bs-toggle="tab"
							data-bs-target="#nav-bookmark" type="button" role="tab"
							aria-controls="nav-bookmark" aria-selected="false"
							th:text="#{user.mypage.tab.bookmarks}">
							즐겨찾기
						</button>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent-main">
					<div class="tab-pane fade show active" id="nav-review" role="tabpanel"
						aria-labelledby="nav-review-tab" tabindex="0">
						<th:block th:each="review : ${user.reviews}">
							<div class="row bg-ymwhite mb-3">
								<div class="col-3 border">
									<img th:if="${!#lists.isEmpty(review.images)}" th:src="${review.images[0]?.url}" style="height:100%; width:100%;">
								</div>
								<div class="col-9 border">
									<div class="row justify-content-between align-items-center">
										<div class="col">
											<div class="star-rating-container">
												<span th:each="i : ${#numbers.sequence(1, 5)}">
													<th:block th:switch="true">
														<i th:case="${i <= review.rating}" class="bi bi-star-fill" style="font-size: 1em; color: gold;"></i>
														<i th:case="${i - 0.5 <= review.rating}" class="bi bi-star-half" style="font-size: 1em; color: gold;"></i>
														<i th:case="*" class="bi bi-star" style="font-size: 1em; color: gold;"></i>
													</th:block>
												</span>
											</div>
										</div>
										<div class="col-auto">
											<a th:href="@{'/store/detail/'+${review.storeId}}"
												class="text-ymprimary text-decoration-none"
												th:text="#{user.detail.button.view_store}">
												가게보기
											</a>
										</div>
										<div class="col-auto" th:text="${#temporals.format(review.createdAt, 'yyyy.MM.dd')}">
											2025.09.15
										</div>
									</div>
									<div class="p-2" data-bs-toggle="collapse"
										th:attr="data-bs-target='#menu' + ${review.id}">
										<div class="row mt-2">
											<div class="col" th:text="${review.content}">
												리뷰 본문 내용...
											</div>
										</div>
									</div>
									<div class="collapse" th:id="'menu' + ${review.id}">
										<div class="card card-body">
											<th:block th:each="food : ${review.foods}">
												<span th:text="${food}"></span>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade" id="nav-like" role="tabpanel"
						aria-labelledby="nav-like-tab" tabindex="1">
						<th:block th:each="like : ${user.likes}">
							<div class="row">
								<div class="col">
									<a th:href="@{'/store/detail/'+${like.id}}" class="btn">
										<span th:text="${like.name} ?: #{index.featured.store.name}">가게명</span>
										<span th:text="${like.address} ?: #{common.location}">위치</span>
										<th:block th:each="category: ${like.categories}">
											<span th:text="${category}">#태그</span>
										</th:block>
									</a>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade" id="nav-bookmark" role="tabpanel"
						aria-labelledby="nav-bookmark-tab" tabindex="1">
						<th:block th:each="bookmark : ${user.bookmarks}">
							<div class="row">
								<div class="col">
									<a th:href="@{'/store/detail/'+${bookmark.id}}" class="btn">
										<span th:text="${bookmark.name} ?: #{index.featured.store.name}">가게명</span>
										<span th:text="${bookmark.address} ?: #{common.location}">위치</span>
										<th:block th:each="category: ${bookmark.categories}">
											<span th:text="${category}">#태그</span>
										</th:block>
									</a>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			<div class="col-3 border border-3 overflow-auto" style="height:400px; top: 145px;">
				<nav>
					<div class="nav nav-tabs" id="nav-tab-side" role="tablist">
						<button class="nav-link active" id="nav-follow-tab" data-bs-toggle="tab"
							data-bs-target="#nav-follow" type="button" role="tab" aria-controls="nav-follow"
							aria-selected="true" th:text="#{common.follow}">
							팔로우
						</button>
						<button class="nav-link" id="nav-follower-tab" data-bs-toggle="tab"
							data-bs-target="#nav-follower" type="button" role="tab" aria-controls="nav-follower"
							aria-selected="false" th:text="#{common.follower}">
							팔로워
						</button>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent-side">
					<div class="tab-pane fade show active" id="nav-follow" role="tabpanel"
						aria-labelledby="nav-follow-tab" tabindex="0">
						<th:block th:each="person : ${user.followees}">
							<div class="row">
								<div class="col">
									<a th:href="@{'/user/detail/'+${person.id}}" th:text="${person.nickname} ?: #{user.signup.nickname}" class="btn d-block">
										닉네임
									</a>
								</div>
							</div>
						</th:block>
					</div>
					<div class="tab-pane fade" id="nav-follower" role="tabpanel"
						aria-labelledby="nav-follower-tab" tabindex="0">
						<th:block th:each="person : ${user.followers}">
							<div class="row">
								<div class="col">
									<a th:href="@{'/user/detail/'+${person.id}}" th:text="${person.nickname} ?: #{user.signup.nickname}" class="btn d-block">
										닉네임
									</a>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>