<!DOCTYPE html>
<html
	th:replace="~{layout/clean :: params(~{::head/content()},~{::body/content()})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>
		로그인
	</title>
</head>
<body>
	<div class="bg-wallpaper">
		<div class="d-flex justify-content-center align-items-center dvh">
			<form class="shadow-lg p-3 bg-ymwhite rounded needs-validation"
				novalidate 
				th:action="@{/user/login}"
				method="post">
				<div class="row gap-4" style="max-width: 20rem;">
					<div class="col-12">
						<h1 class="fw-bold my-4 text-ymprimary text-center">
							Yorimichi
						</h1>
						<div class="fs-4 text-center" style="color: gray;">
							Yorimichi에 로그인 하세요.
						</div>
					</div>
					<div class="col-12">
						<label for="email" class="form-label">
							이메일
						</label>
						<input type="email" class="form-control" id="email" placeholder="name@example.com" required>
						<div class="invalid-feedback">
							정확한 이메일을 입력해주세요
						</div>
					</div>
					<div class="col-12">
						<label for="password" class="form-label">
							비밀번호
						</label>
						<input type="password" class="form-control" id="password" placeholder="********" required minlength="8">
						<div class="invalid-feedback">
							비밀번호는 8자 이상이어야 합니다.
						</div>
						<div class="d-flex justify-content-between text-ymprimary">
							<a th:href="@{/user/find}">
								비밀번호를 잊어버리셨나요?
							</a>
							<a th:href="@{/user/signup}">
								회원가입
							</a>
						</div>
					</div>
					<div class="col-12">
						<button class="btn btn-ymprimary bg-ymprimary-gradient w-100">로그인</button>
					</div>
					<div class="col-12">
						<div class="divider">
							소셜로그인
						</div>
					</div>
					<div class="col-12">
						<div class="d-flex justify-content-between">
							<button type="button" class="btn shadow rounded-circle p-0" style="height: 3rem; width: 3rem;">
								<img class="w-100 rounded-circle" src="/image/google.png">
							</button>
							<button type="button" class="btn shadow rounded-circle p-0" style="height: 3rem; width: 3rem;">
								<img class="w-100 rounded-circle" src="/image/naver.png">
							</button>
							<button type="button" class="btn shadow rounded-circle p-0" style="height: 3rem; width: 3rem;">
								<img class="w-100 rounded-circle" src="/image/kakao.svg">
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>