<!DOCTYPE html>
<html th:replace="~{layout/clean :: params(~{::head/content()},~{::body/content()})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Yorimichi Project </title>
</head>

<body>
	<section>
		<form name="myinfo" method="post" action="/user/mypage">
			<div class="container my-4">
				<div class="row">
					<div class="col-9">
						<div class="row mb-3 justify-content-center">
							<div class="text-center col-8">
								<button type="submit" class="btn btn-ymprimary">정보 수정</button>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-4 text-center fs-1">
								<ul class="list-unstyled">
									<li>
										<input type="text" class="form-control text-center" placeholder="윤찬"
											aria-label="Username" aria-describedby="addon-wrapping">
									</li>
									<li class="fs-5 bg-ymwhitesmoke form-control">
										3ll37023@gmail.com
									</li>
								</ul>
							</div>
						</div>
						<div class="row my-4 justify-content-center">
							<div class="col-8 text-center">
								<img src="https://picsum.photos/300" class="mx-auto border rounded-circle">
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-8">
								<div class="input-group mb-3">
									<input type="file" class="form-control" id="inputGroupFile02">
									<label class="input-group-text" for="inputGroupFile02">업로드</label>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-8 my-4 border border-3">
								<nav>
									<div class="nav nav-tabs" id="nav-tab" role="tablist">
										<button class="nav-link active" id="nav-review-tab" data-bs-toggle="tab"
											data-bs-target="#nav-review" type="button" role="tab"
											aria-controls="nav-review" aria-selected="true">
											리뷰
										</button>
										<button class="nav-link" id="nav-like-tab" data-bs-toggle="tab"
											data-bs-target="#nav-like" type="button" role="tab" aria-controls="nav-like"
											aria-selected="false">
											좋아요
										</button>
										<button class="nav-link" id="nav-bookmark-tab" data-bs-toggle="tab"
											data-bs-target="#nav-bookmark" type="button" role="tab"
											aria-controls="nav-bookmark" aria-selected="false">
											즐겨찾기
										</button>
										<button type="button" class="btn text-ymprimary" data-bs-toggle="modal"
											data-bs-target="#privacy">
											<i class="bi bi-key-fill" style="font-size: 1em; color: gold;">
												공개설정
											</i>
										</button>
									</div>
								</nav>
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-review" role="tabpanel"
										aria-labelledby="nav-review-tab" tabindex="0">
										<!--마이페이지, 사용자가 그동안 작성한 리뷰들-->
										<div class="row bg-ymwhite mb-3" id="review-list-container">
											
										</div>
										<th:block th:replace="~{ fragments/user/mypage/review :: template }"></th:block>
									</div>
									<div class="tab-pane fade" id="nav-like" role="tabpanel"
										aria-labelledby="nav-like-tab" tabindex="1">
										<!--마이페이지, 사용자가 좋아요 한 가게들-->
										<div class="row" id=like-list-container>
											
										</div>
										<th:block th:replace="~{ fragments/user/mypage/like :: template }"></th:block>
									</div>
									<div class="tab-pane fade" id="nav-bookmark" role="tabpanel"
										aria-labelledby="nav-bookmark-tab" tabindex="1">
										<div class="row" id="bookmart-list-container">
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3 border border-3 overflow-auto" style="height:400px; top: 145px;">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="nav-follow-tab" data-bs-toggle="tab"
									data-bs-target="#nav-follow" type="button" role="tab" aria-controls="nav-follow"
									aria-selected="true">
									팔로우
								</button>
								<button class="nav-link" id="nav-follower-tab" data-bs-toggle="tab"
									data-bs-target="#nav-follower" type="button" role="tab" aria-controls="nav-follower"
									aria-selected="false">
									팔로워
								</button>
								<button class="nav-link" id="nav-block-tab" data-bs-toggle="tab"
									data-bs-target="#nav-block" type="button" role="tab" aria-controls="nav-block"
									aria-selected="false">
									차단목록
								</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-follow" role="tabpanel"
								aria-labelledby="nav-follow-tab" tabindex="0">
								<th:block th:each="person : ${#numbers.sequence(1,10)}">
									<div class="row">
										<div class="col-2">
											<button type="button" class="btn">
												<i class="bi bi-heart-fill" style="font-size: 1em; color:red"></i>
											</button>
										</div>
										<div class="col">
											<a href="/user/detail" class="btn d-block">
												닉네임
											</a>
										</div>
									</div>
								</th:block>
							</div>
							<div class="tab-pane fade" id="nav-follower" role="tabpanel"
								aria-labelledby="nav-follower-tab" tabindex="0">
								<th:block th:each="person : ${#numbers.sequence(1,10)}">
									<div class="row">
										<div class="col-2">
											<button type="button" class="btn">
												<i class="bi bi-toggle-on" style="font-size: 1em; color:gold;"></i>
											</button>
										</div>
										<div class="col">
											<a href="/user/detail" class="btn d-block">
												닉네임
											</a>
										</div>
									</div>
								</th:block>
							</div>
							<div class="tab-pane fade" id="nav-block" role="tabpanel" aria-labelledby="nav-block-tab"
								tabindex="0">
								<th:block th:each="person : ${#numbers.sequence(1,10)}">
									<div class="row">
										<div class="col-2">
											<button type="button" class="btn">
												<i class="bi bi-toggle-on" style="font-size: 1em; color:red;"></i>
											</button>
										</div>
										<div class="col">
											<a href="/user/detail" class="btn d-block">
												닉네임
											</a>
										</div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="privacy" tabindex="-1" aria-labelledby="privacyLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="privacyLabel">개인 정보 보호 설정</h1>
						</div>
						<div class="modal-body">
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="review-privacy">
								<label class="form-check-label" for="switchCheckDefault">
									리뷰 비공개
								</label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="like-privacy">
								<label class="form-check-label" for="switchCheckDefault">
									좋아요 비공개
								</label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="bookmark-privacy">
								<label class="form-check-label" for="switchCheckDefault">
									즐겨찾기 비공개
								</label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="follow-privacy">
								<label class="form-check-label" for="switchCheckDefault">
									팔로우 비공개
								</label>
							</div>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="follower-privacy">
								<label class="form-check-label" for="switchCheckDefault">
									팔로워 비공개
								</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">창 닫기</button>
						</div>
					</div>
				</div>
			</div>
	</section>
	</form>
</body>

</html>