<!DOCTYPE html>
<html th:replace="~{layout/clean :: params(~{::head/content()},~{::body/content()})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
		회원가입
	</title>
	<script defer src="/js/signup.js"></script>
</head>

<body>
	<div class="bg-wallpaper">

		<div class="d-flex justify-content-center">
			<form
				method="post"
				th:action="@{/user/signup}"
				class="my-5 shadow-lg bg-ymwhite rounded needs-validation"
				style="max-width: 20rem;"
				novalidate>
				<div class="p-4 bg-ymprimary-gradient rounded-top text-ymwhitesmoke">
					<h1 class="fw-bold py-2 text-center">
						회원가입
					</h1>
					<div class="fs-5 text-center">
						Yorimichi와 함께 즐거운 시간을 보내세요
					</div>
				</div>
				<div class="row gap-4 p-3">

					<div class="col-12">
						<label for="nickname" class="form-label">
							닉네임
						</label>
						<input
							onblur="nicknameDeduplication(event)"
							class="form-control"
							id="nickname"
							placeholder="낙쿠네무"
							minlength="3"
							maxlength="20"
							required
							pattern="">
						<div class="invalid-feedback">
							최소 3자 이상 20자 이하로 입력해주세요
						</div>
					</div>

					<div class="col-12">
						<label for="email" class="form-label">
							이메일
						</label>
						<div class="input-group">
							<input
								type="email"
								class="form-control"
								id="email" 
								placeholder="email@example.com" 
								required 
								pattern="">
							<button type="button" onclick="emailDeduplication(event)" class="btn btn-ymprimary bg-ymprimary-gradient rounded-end">
								중복검사
							</button>
							<div class="invalid-feedback">
								정확한 이메일, 중복확인을 진행하세요
							</div>
						</div>
					</div>

					<div class="col-12">
						<label for="password" class="form-label">
							비밀번호
						</label>
						<input type="password" class="form-control" id="password" placeholder="●●●●●●●●" required onkeyup="changePassword(event)">
						<div class="d-flex align-items-center justify-content-between gap-2">
							<div style="font-size: .75rem; color: gray;">
								<span>보안: </span>
								<span id="password-level-description">없음</span>
							</div>
							<div class="d-flex w-75 rounded border overflow-auto" id="password-level" style="height: .75rem">
								<span class="flex-grow-1 border-end"></span>
								<span class="flex-grow-1 border-end"></span>
								<span class="flex-grow-1 "></span>
							</div>
						</div>
					</div>

					<div class="col-12">
						<label for="repassword" class="form-label">
							비밀번호 확인
						</label>
						<input type="password" class="form-control" id="repassword" placeholder="●●●●●●●●" required>
						<div class="invalid-feedback">
							비밀번호가 맞지 않습니다
						</div>
					</div>

					<div class="col-12">
						<div class="d-flex gap-2">
							<div class="flex-grow-1">
								<label for="year" class="form-label">
									출생년도
								</label>
								<select class="form-select" id="year" name="year">
									<option th:each="year : ${#numbers.sequence(2025, 1900)}" th:text="${ year }"></option>
								</select>
							</div>
							<div class="flex-grow-1">
								<label for="gender" class="form-label">
									성별
								</label>
								<select class="form-select" id="gender" name="gender">
									<option th:each="option : ${ {'남자', '여자'} }" th:text="${ option }"></option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-12">
						<ul class="list-group" onchange="changeAll(event)">
							<li class="list-group-item">
								<div class="form-check">
									<input id="all-agree" type="checkbox" class="form-check-input" required>
									<label for="all-agree">전체 약관에 동의합니다</label>
								</div>
							</li>
							<li class="list-group-item"
								th:each="item, stat : ${ {'[필수] 서비스 이용 약관', '[필수] 개인정보 처리방침', '[필수] 위치정보 이용'} }">
								<div class="form-check m-0">
									<input th:id="'agree-service-' + ${ stat.index }" type="checkbox" class="form-check-input" required>
									<div class="d-flex gap-2 align-items-center justify-content-between">
										<label th:for="'agree-service-' + ${ stat.index }" style="font-size: .9rem;" th:text="${ item }">
										</label>
										<button
											type="button"
											class="btn btn-link p-0 border-0"
											data-bs-toggle="modal"
											data-bs-target="#agreement" style="font-size: .9rem;" onclick="agreement(0)">
											자세히
										</button>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="col-12">
						<button class="btn btn-ymprimary bg-ymprimary-gradient w-100">회원가입</button>
					</div>

				</div>
			</form>
		</div>
	</div>

	<div th:replace="~{ fragments/signup/agreement }"></div>
</body>

</html>