<!DOCTYPE html>
<html   th:replace="~{layout/layout :: layout(~{::title},~{::section},~{::script})}" 
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Yorimichi Project </title>
</head>
<body>
    <section class="bg-ymwhite py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 border border-3 rounded-2">
                    <div class="row">
                        <div class="col">
                            <h1 class="fw-bold my-4 text-ymsecondary text-center">회원가입</h1>
                            <div class="fs-4 text-center" style="color: gray;"> 
                                Yorimichi와 함께 즐거운 시간을 보내세요
                            </div>
                        </div>
                    </div>
                    <span> <!--닉네임-->
                        <div class="row">
                            <div class="col-6">닉네임</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" placeholder="홍길동" style="width:100%;">
                            </div>
                        </div>
                    </span>
                    <span> <!-- 이메일 -->
                        <div class="row">
                            <div class="col">이메일</div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <input type="email" placeholder="abc123@gmail.com" style="width:100%;">
                            </div>
                            <div class="col-2">
                                <button class="btn text-ymwhite" style="background-color: green; font-size:14px;">중복확인</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <!--이메일 인증번호 입력칸 만들기-->
                            </div>
                            <div class="col">
                                <!--버튼 만들기-->
                            </div>
                        </div>
                    </span>
                    <span> <!--비밀번호 -->
                        <div class="row">
                            <div class="col">비밀번호</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="password" placehorder="비밀번호 (8자이상)" style="width:100%">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <meter min="0" max="1" low="0.5" value="0.8" style="width:100%;"></meter>
                            </div>
                            <div class="col-6">비밀번호 강도</div>
                        </div>
                    </span>
                    <span> <!--비밀번호 확인 -->
                        <div class="row">
                            <div class="col">비밀번호 확인</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="password" placehorder="비밀번호를 다시 입력하세요" style="width:100%">
                            </div>
                        </div>
                    </span>
                    <span> <!--생년월일 -->
                        <div class="row">
                            <div class="col-6">출생연도</div>
                            <div class="col-6">성별</div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select name="birthyear">
                                    <th:each>
                                        <option value="올해">2025</option>
                                    </th:each>
                                </select>
                            </div>
                            <div class="col-6">
                                <!--생년월일 select 아래는 예시입니다.만들기-->

                                <!--
                                <select name="gender">
                                    <option value="MAN">남성</option>
                                    <option value="WOMAN">여성</option>
                                    <option value="THEY">기타</option>
                                </select> -->
                            </div>
                        </div>
                    </span>
                    <span> <!--약관-->
                        <div class="row justify-content-center">
                            <div class="col-11  border border-3">
                                <div class="row my-3">
                                    <div class="col">
                                        <input type="checkbox" value="">전체 약관에 동의합니다
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-7">
                                        <input type="checkbox" value="">[필수] 서비스 이용약관에 동의합니다
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-ymprimary fs-6" data-bs-toggle="modal" data-bs-target="#secondThing">
                                            보기
                                        </button>
                                        <div class="modal fade" id="secondThing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">서비스 이용약관</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    냉무
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-7">
                                        <input type="checkbox" value="">[필수] 개인정보 처리방침에 동의합니다.
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-ymprimary fs-6" data-bs-toggle="modal" data-bs-target="#secondThing">
                                            보기
                                        </button>
                                        <div class="modal fade" id="secondThing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">개인정보 처리방침</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    냉무
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-3">
                                    <div class="col-7">
                                        <input type="checkbox" value="">[필수] 위치정보 이용에 동의합니다.
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-ymprimary fs-6" data-bs-toggle="modal" data-bs-target="#secondThing">
                                            보기
                                        </button>
                                        <div class="modal fade" id="secondThing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">위치정보 이용</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    냉무
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                    <span> <!--회원가입-->
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-secondary" style="width:100%;">회원가입</button>
                            </div>
                        </div>
                    </span>
                    
                </div>
            </div>
    </section>
</body>
</html>