<!DOCTYPE html>
<html th:replace="~{layout/main :: params(~{::head/content()},~{::body/content()})}"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>가게 상세</title>
	<script defer src="/js/store/review.js"></script>
</head>

<body>
	<div class="container my-4">
		<div class="row flex-row-reverse row-gap-4">

			<div class="col-12 col-lg-8">
				<th:block th:replace="~{ fragments/store/info }" />
			</div>

			<div class="col-12 col-lg-4">
				<th:block th:replace="~{ fragments/store/sidebar }"/>
			</div>

			<div class="col-12 col-lg-8">
				<th:block th:replace="~{ fragments/store/review }"/>
			</div>

			<div class="col-12 col-lg-4">
				<th:block th:replace="~{ fragments/store/coeat }" />
			</div>
			
		</div>
	</div>
</body>

</html>