<!DOCTYPE html>
<html   th:replace="~{layout/layout :: layout(~{::title},~{::section},~{::script})}" 
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Yorimichi Project </title>
</head>
<body>
    <section>
        <div class="container my-3">
            <div class="row py-2">
                <div class="col">리스트</div>
            </div>
            <div class="row border border-3 py-3" >
                <!-- <th:block th:each=""></th:block> -->
                <div class="col">
                    <a href="" class="text-decoration-none text-ymsecondary">
                        <div class="row border-bottom border-2" style="height:100px;">
                            <div class="col">가게이미지</div>
                            <div class="col">가게이름</div>
                            <div class="col">가게</div>
                            <div class="col">기</div>
                            <div class="col">타</div>
                            <div class="col">정보</div>
                        </div>
                    </a>
                    <div class="row">
                        <th:block th:each="item : ${#numbers.sequence(1,6)}">
                            <div class="col"><a href="" th:text="'#'+${item}"></a></div>
                        </th:block>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>