<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title},~{::section},~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Yorimichi Project </title>
</head>

<body>
    <section>
        <div class="container my-4">
            <div class="row justify-content-between">
                <div class="col-3 border border-2 m-3 p-2" aria-label="sub">
                    <div class="row" aria-label="map">
                        <div class="col" style="position: relative;">
                            <div class="ratio ratio-4x3">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2272.926378741515!2d127.40430498927147!3d36.32677405031281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x356549343c3c3cf1%3A0x9d6af658336f953a!2z7KCc7J207JeQ7Iqk7JeY7J247J6s6rCc67Cc7JuQKOyjvCk!5e0!3m2!1sko!2skr!4v1757573926145!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <i class="bi bi-heart" style="font-size: 2em; color: #007bff; position: absolute; top: 0px; left: 22px;"></i>
                        </div>
                    </div>
                </div>
                <div class="col-8 border border-2 m-3 p-2" aria-label="main">
                    <div id="shop-image-carousel" class="carousel slide" style="height: 400px;">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="..." class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="..." class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#shop-image-carousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#shop-image-carousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                    <div class="row" aria-label="shop-image">
                        <div class="col-4">
                            <img src="">
                        </div>
                        <div class="col-4">
                            <img src="">
                        </div>
                        <div class="col-4">
                            <img src="">
                        </div>
                    </div>
                    <div class="row justify-content-between" aria-label="storename">
                        <div class="col">
                            <div>가게이름 본점</div>
                        </div>
                        <div class="col text-end">
                            <i class="bi bi-heart border border-3 rounded-pill p-2" style="font-size: 1em;">저장</i>
                            <i class="bi bi-star border border-3 rounded-pill p-2" style="font-size: 1em;">즐겨찾기</i>
                            <i class="bi bi-share border border-3 rounded-pill p-2" style="font-size: 1em;">공유</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <th:block th:each="itme : ${#numbers.sequence(1,5)}">
                                <i class="bi bi-star-fill" style="font-size: 1em; color: gold;"></i>
                            </th:block>
                        </div>
                        <div class="col">
                            5 (142명의 평가)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-pin text-ymesecondary" style="font-size: 1em;">대전광역시 중구 용두동 어쩌구6길 14</i>
                        </div>
                        <div class="col text-end">
                            <button class="btn border border-2">지도보기</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-watch text-ymsecondary" style="font-size: 1em;">영업중 오늘(수) 영업시간: 11:00~22:00</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-telephone" style="font-size: 1em;">010-1234-5678</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <i class="bi bi-tag" style="font-size: 1em;"></i>
                        </div>
                        <th:block th:each="item : ${#numbers.sequence(1,6)}">
                            <div class="col ">
                                <a href="" th:text="'#'+${item}" class="text-decoration-none text-ymsecondary"></a>
                            </div>
                        </th:block>
                    </div>
                    <div class="row">
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col border border-2 m-3 p-2" aria-label="menu">
                    <ul class="nav nav-tabs" id="menuTap" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first-tab-pane" type="button"
                                role="tab" aria-controls="first-tab-pane" aria-selected="true">메뉴</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second-tab-pane" type="button"
                                role="tab" aria-controls="second-tab-pane" aria-selected="false">리뷰</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="third-tab" data-bs-toggle="tab" data-bs-target="#third-tab-pane" type="button" 
                                role="tab" aria-controls="third-tab-pane" aria-selected="false">리뷰 사진?</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="menuTabContent">
                        <div class="tab-pane fade show active" id="first-tab-pane" role="tabpanel" aria-labelledby="first-tab" tabindex="0">
                            <ul>
                                <li style="list-style: none;">
                                    정말 맛있는 메뉴 ··· 70,000₩
                                </li>
                                <li style="list-style: none;">
                                    그저 그런 메뉴 ··· 300₩
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="second-tab-pane" role="tabpanel" aria-labelledby="second-tab" tabindex="0">
                            ...
                        </div>
                        <div class="tab-pane fade" id="third-tab-pane" role="tabpanel" aria-labelledby="third-tab" tabindex="0">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>