<template th:fragment="fragments/user/mypage/block :: template" id="user-block">
    <div class="col user-block-item">
        <div class="row">
            <div class="col-2">
                <button type="button" class="btn unblock-btn" data-user-id="">
                    <i class="bi bi-toggle-on" style="font-size: 1em; color:red;"></i>
                </button>
            </div>
            <div class="col">
                <a href="/user/detail/{userId}" class="btn d-block user-link">
                    닉네임
                </a>
            </div>
        </div>
    </div>
</template>