<th:block th:fragment="modal">
    <div class="modal fade" id="privacy" tabindex="-1" aria-labelledby="privacyLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="privacyLabel">개인 정보 보호 설정</h1>
                </div>
                <div class="modal-body">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="review-privacy"
                            name="reviewPrivacy" value="true">
                        <label class="form-check-label" for="review-privacy">
                            리뷰 비공개
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="like-privacy"
                            name="likePrivacy" value="true">
                        <label class="form-check-label" for="like-privacy">
                            좋아요 비공개
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="bookmark-privacy"
                            name="bookmarkPrivacy" value="true">
                        <label class="form-check-label" for="bookmark-privacy">
                            즐겨찾기 비공개
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="follow-privacy"
                            name="followPrivacy" value="true">
                        <label class="form-check-label" for="follow-privacy">
                            팔로우 비공개
                        </label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="follower-privacy"
                            name="followerPrivacy" value="true">
                        <label class="form-check-label" for="follower-privacy">
                            팔로워 비공개
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">창 닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>