<div
	th:fragment="userData(user)"
	class="d-flex align-items-center">
	<div class="ratio ratio-1x1" style="width: 3rem;">
		<img class="rounded-circle" th:src="${ user?.image ?: 'https://picsum.photos/50' }">
	</div>
	<div>
		<div class="dropdown">
			<button type="button" data-bs-toggle="dropdown" class="btn btn-link text-decoration-none btn-sm" th:text="${ user?.nickname ?: #{common.placeholder.nickname} }">
			</button>
			<ul class="dropdown-menu">
				<button type="button" class="dropdown-item" onclick="followByUserId(event)" th:data-userId="${ user?.id }">
					<i class="bi bi-heart-fill text-danger"></i>
					<span th:text="#{common.follow}">팔로우</span>
				</button>
				<a th:href="@{'/user/detail/' + ${ user?.id } }" class="dropdown-item">
					<i class="bi bi-search text-info"></i>
					<span th:text="#{common.view_detail}">상세보기</span>
				</a>
			</ul>
		</div>
		<div class="px-2" style="font-size: .75rem;">
			<span th:text="#{common.follower}">팔로워</span>
			<span th:text="${ user?.followerCount }"></span>
		</div>
	</div>
</div>