@charset "UTF-8";

.dvh {
    height: 100dvh;
}

.bg-wallpaper {
	background: url("/images/food_wallpaper.jpg") no-repeat;
	background-size: cover;
	background-position: right;
}

.divider {
    text-align: center;
}

.divider::after {
	content: '';
	border-bottom: 1px sold #ccc;
	width: 100%;
	background: blue;
}

.scroll-smooth {
	scroll-behavior: smooth;
}

.fs-075 {
	font-size: .75rem;
}

.fs-05 {
	font-size: .5rem;
}

.fs-0 {
	font-size: 0;
}