@charset "UTF-8";

.dvh {
    height: 100dvh;
}

.bg-wallpaper {
    background: url("/images/food_wallpaper.jpg") no-repeat;
    background-size: cover;
}

.divider {
    text-align: center;
}

.divider::after {
    content: '';
    border-bottom: 1px sold #ccc;
    width: 100%;
    background: blue;
}