<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<template th:fragment="template" id="feed-template">
		<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#">
			<span class="feed-address" th:text="#{index.feed.location}">위치</span>
			<span class="feed-store-name" th:text="#{index.feed.store_name}">가게명</span>
			<span class="feed-store-category" th:text="#{index.feed.store_category}">카테고리</span>
			<span class="feed-category" th:text="#{index.feed.coeat}">같이먹기</span>
			<input type="hidden" data-feedid>
		</button>
	</template>
</body>
</html>