<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.BlockMapper">

    <insert id="insert" parameterType="BlockDTO">
        INSERT INTO block (blocker_id, blocked_id)
        VALUES (#{blockerId}, #{blockedId})
    </insert>

    <delete id="deleteById" parameterType="BlockDTO">
        DELETE FROM block
        WHERE blocker_id = #{blockerId} AND blocked_id = #{blockedId}
    </delete>

</mapper>