<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.BlockMapper">

    <!-- @formatter:off -->

    <select id="selectAllByUserId" parameterType="long" resultType="BlockDTO">
        SELECT *
        FROM block
        WHERE blocker_id = #{userId}
        ORDER BY created_at DESC;
    </select>

    <select id="exists" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM block
            WHERE blocker_id = #{blockerId}
                AND blockee_id = #{blockeeId}
        )
    </select>

    <insert id="insert">
        INSERT INTO block (blocker_id, blockee_id)
        VALUES (#{blockerId}, #{blockeeId})
    </insert>

    <delete id="delete">
        DELETE
        FROM block
        WHERE blocker_id = #{blockerId}
          AND blockee_id = #{blockeeId}
    </delete>

    <!-- @formatter:on -->

</mapper>