<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.BookmarkMapper">

    <insert id="insert" parameterType="BookmarkDTO">
        INSERT INTO bookmark (user_id, store_id)
        VALUES (#{userId}, #{storeId})
    </insert>

    <delete id="delete" parameterType="BookmarkDTO">
        DELETE FROM bookmark
        WHERE user_id = #{userId} AND store_id = #{storeId}
    </delete>

</mapper>