<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.CommentMapper">

    <insert id="insert" parameterType="CommentDTO">
        INSERT INTO comment (feed_id, parent_id, user_id, content)
        VALUES (#{feedId}, #{parentId}, #{userId}, #{content})
    </insert>

    <select id="selectById" parameterType="long" resultType="CommentDTO">
        SELECT * FROM comment WHERE id = #{id}
    </select>

    <select id="selectByFeedId" parameterType="long" resultType="CommentDTO">
        SELECT * FROM comment WHERE feed_id = #{feedId} ORDER BY created_at ASC
    </select>

    <select id="selectByParentId" parameterType="long" resultType="CommentDTO">
        SELECT * FROM comment WHERE parent_id = #{parentId} ORDER BY created_at ASC
    </select>

    <update id="updateContent" parameterType="CommentDTO">
        UPDATE comment
        SET content = #{content}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM comment WHERE id = #{id}
    </delete>

    <delete id="deleteByFeedId" parameterType="long">
        DELETE FROM comment WHERE feed_id = #{feedId}
    </delete>

</mapper>
