<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.FollowMapper">

    <insert id="insert" parameterType="FollowDTO">
        INSERT INTO follow (follower_id, following_id)
        VALUES (#{followerId}, #{followingId})
    </insert>

    <select id="selectFollowersByUserId" parameterType="long" resultType="FollowDTO">
        SELECT * FROM follow WHERE following_id = #{userId}
    </select>

    <select id="selectFollowingsByUserId" parameterType="long" resultType="FollowDTO">
        SELECT * FROM follow WHERE follower_id = #{userId}
    </select>

    <select id="existsByPair" resultType="int">
        SELECT COUNT(*) FROM follow
        WHERE follower_id = #{followerId} AND following_id = #{followingId}
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM follow WHERE id = #{id}
    </delete>

    <delete id="deleteByPair">
        DELETE FROM follow WHERE follower_id = #{followerId} AND following_id = #{followingId}
    </delete>

</mapper>
