<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.FollowMapper">

    <insert id="insert" parameterType="FollowDTO">
        INSERT INTO follow (follower_id, followee_id)
        VALUES (#{followerId}, #{followeeId})
    </insert>

    <delete id="delete" parameterType="FollowDTO">
        DELETE FROM follow
        WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
    </delete>

</mapper>