<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.ImageMapper">

    <insert id="insert" parameterType="ImageDTO">
        INSERT INTO image (url)
        VALUES (#{url})
    </insert>

    <select id="selectById" parameterType="Long" resultType="ImageDTO">
        SELECT id, url, created_at, updated_at
        FROM image
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="ImageDTO">
        UPDATE image
        SET url = #{url}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM image WHERE id = #{id}
    </delete>

</mapper>