<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.ImageMapper">

    <insert id="insert" parameterType="ImageDTO">
        INSERT INTO image (root_id, url, alt_text)
        VALUES (#{rootId}, #{url}, #{altText})
    </insert>

    <select id="selectById" parameterType="long" resultType="ImageDTO">
        SELECT * FROM image WHERE id = #{id}
    </select>

    <select id="selectByRootId" parameterType="long" resultType="ImageDTO">
        SELECT * FROM image WHERE root_id = #{rootId}
    </select>

    <delete id="deleteById" parameterType="long">
        DELETE FROM image WHERE id = #{id}
    </delete>

    <delete id="deleteByRootId" parameterType="long">
        DELETE FROM image WHERE root_id = #{rootId}
    </delete>

</mapper>
