<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.KeywordMapper">

    <insert id="insert" parameterType="KeywordDTO">
        INSERT INTO keyword (name)
        VALUES (#{name})
    </insert>

    <select id="selectById" parameterType="Long" resultType="KeywordDTO">
        SELECT id, name, created_at, updated_at
        FROM keyword
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="KeywordDTO">
        UPDATE keyword
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM keyword WHERE id = #{id}
    </delete>

</mapper>