<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.LikeMapper">

    <insert id="insert" parameterType="LikeDTO">
        INSERT INTO likes (user_id, root_id)
        VALUES (#{userId}, #{rootId})
    </insert>

    <delete id="delete" parameterType="LikeDTO">
        DELETE FROM likes
        WHERE user_id = #{userId} AND root_id = #{rootId}
    </delete>

</mapper>