<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.NotificationMapper">

    <insert id="insert" parameterType="NotificationDTO">
        INSERT INTO notification (actor_user_id, root_id, target_user_id, message)
        VALUES (#{actor_userId}, #{root_id}, #{target_userId}, #{message})
    </insert>

    <select id="selectById" parameterType="Long" resultType="NotificationDTO">
        SELECT id,
               actor_user_id,
               root_id,
               target_user_id,
               message,
               created_at,
               updated_at,
               read_at
        FROM notification
        WHERE id = #{id}
    </select>

    <update id="deleteById" parameterType="Long">
        UPDATE notification
        SET read_at = NOW()
        WHERE id = #{id}
    </update>

</mapper>