<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.PostalMapper">

    <insert id="insert" parameterType="PostalDTO">
        INSERT INTO postal (code)
        VALUES (#{code})
    </insert>

    <select id="selectById" parameterType="Long" resultType="PostalDTO">
        SELECT id, code, created_at, updated_at
        FROM postal
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="PostalDTO">
        UPDATE postal
        SET code = #{code}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        DELETE
        FROM postal
        WHERE id = #{id}
    </delete>

</mapper>