<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.RegionSidoMapper">

    <insert id="insert" parameterType="RegionSidoDTO">
        INSERT INTO region_sido (name)
        VALUES (#{name})
    </insert>

    <select id="selectById" parameterType="long" resultType="RegionSidoDTO">
        SELECT * FROM region_sido WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="RegionSidoDTO">
        SELECT * FROM region_sido ORDER BY name ASC
    </select>

    <update id="update" parameterType="RegionSidoDTO">
        UPDATE region_sido
        SET name = #{name}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM region_sido WHERE id = #{id}
    </delete>

</mapper>
