<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jslhrd.yorimichi.mapper.RegionEmdMapper">

  <select id="selectById" parameterType="long" resultType="com.jslhrd.yorimichi.domain.RegionEmdDTO">
    SELECT id, sigungu_id, code, name
    FROM region_emd
    WHERE id = #{id}
  </select>

  <select id="selectByCode" parameterType="string" resultType="com.jslhrd.yorimichi.domain.RegionEmdDTO">
    SELECT id, sigungu_id, code, name
    FROM region_emd
    WHERE code = #{code}
  </select>

  <select id="listBySigunguId" parameterType="long" resultType="com.jslhrd.yorimichi.domain.RegionEmdDTO">
    SELECT id, sigungu_id, code, name
    FROM region_emd
    WHERE sigungu_id = #{sigunguId}
    ORDER BY name ASC
  </select>

  <insert id="insert" parameterType="com.jslhrd.yorimichi.domain.RegionEmdDTO">
    INSERT INTO region_emd (sigungu_id, code, name)
    VALUES (#{sigunguId}, #{code}, #{name})
  </insert>

  <update id="update" parameterType="com.jslhrd.yorimichi.domain.RegionEmdDTO">
    UPDATE region_emd
    SET sigungu_id = #{sigunguId},
        code = #{code},
        name = #{name}
    WHERE id = #{id}
  </update>

  <delete id="deleteById" parameterType="long">
    DELETE FROM region_emd WHERE id = #{id}
  </delete>

</mapper>
