<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.ReportMapper">

    <!-- @formatter:off -->

    <select id="selectAll" resultType="ReportDTO">
        SELECT *
        FROM report
        ORDER BY created_at DESC, id DESC;
    </select>

    <select id="selectStatus" resultType="com.jslhrd.yorimichi.enums.ReportStatus">
        SELECT status
        FROM report
        WHERE id = #{reportId}
    </select>

    <insert id="insert"
            parameterType="ReportDTO"
            useGeneratedKeys="true"
            keyProperty="id"
            keyColumn="id">
        INSERT INTO report (reporter_id, root_id, reason)
        VALUES (#{reporterId}, #{rootId}, #{reason})
    </insert>
    
    <update id="updateStatus">
        UPDATE report
        SET status = #{to}
        WHERE id = #{reportId}
            AND status = #{cur}
    </update>

    <update id="cancelByReporter">
        UPDATE report
        SET status = 'CANCELLED'
        WHERE id = #{reportId}
            AND reporter_id = #{userId}
            AND status = 'PENDING'
    </update>

    <!-- @formatter:on -->

</mapper>