<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.ReviewMapper">

    <!-- @formatter:off -->

    <select id="selectAll" resultType="ReviewDTO">
        SELECT v.id,
        v.user_id,
        v.store_id,
        v.rating,
        v.content,
        r.type,
        r.created_at,
        r.updated_at
        FROM review v
        JOIN root r ON v.id = r.id
            AND r.type = 'REVIEW'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
    </select>

    <select id="selectAllByStoreId" resultType="ReviewDTO">
        SELECT v.id,
        v.user_id,
        v.store_id,
        v.rating,
        v.content,
        r.type,
        r.created_at,
        r.updated_at
        FROM review v
        JOIN root r ON v.id = r.id
            AND r.type = 'REVIEW'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        WHERE
        v.store_id = #{storeId}
    </select>

    <select id="selectById" parameterType="long" resultType="ReviewDTO">
        SELECT
            v.id,
            v.user_id,
            v.store_id,
            v.rating,
            v.content,
            r.type,
            r.created_at,
            r.updated_at
        FROM review v
        JOIN root r ON v.id = r.id
            AND r.type = 'REVIEW'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        WHERE v.id = #{id}
    </select>

    <select id="existsActive" parameterType="long" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM review v
            JOIN root r ON v.id = r.id
                AND r.type = 'REVIEW'
                AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
            WHERE v.id = #{id}
        )
    </select>

    <insert id="insert" parameterType="ReviewDTO">
        INSERT INTO review (id, user_id, store_id, rating, content)
        VALUES (#{id}, #{userId}, #{storeId}, #{rating}, #{content})
    </insert>

    <update id="update">
        UPDATE review v
        JOIN root r ON v.id = r.id
            AND r.type = 'REVIEW'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        SET
            v.rating = #{dto.rating},
            v.content = #{dto.content},
            r.updated_at = CURRENT_TIMESTAMP
        WHERE v.id = #{id}
        AND v.user_id = #{userId}
    </update>

    <update id="deleteById">
        UPDATE review v
        JOIN root r ON v.id = r.id
            AND r.type = 'REVIEW'
            AND <include refid="com.jslhrd.yorimichi.mapper.common.RootVisible"/>
        SET r.deleted_at = CURRENT_TIMESTAMP
        WHERE v.id = #{id}
        AND v.user_id = #{userId}
    </update>

    <!-- @formatter:on -->

</mapper>