<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.RoleMapper">

    <insert id="insert" parameterType="RoleDTO">
        INSERT INTO role (name)
        VALUES (#{name})
    </insert>

    <select id="selectById" parameterType="long" resultType="RoleDTO">
        SELECT * FROM role WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="RoleDTO">
        SELECT * FROM role ORDER BY id ASC
    </select>

    <update id="update" parameterType="RoleDTO">
        UPDATE role
        SET name = #{name}, updated_at = NOW()
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM role WHERE id = #{id}
    </delete>

</mapper>
