<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.StoreFacilityCategoryMapper">

    <insert id="insert" parameterType="StoreFacilityCategoryDTO">
        INSERT INTO store_facility_category (store_id, facility_category_id)
        VALUES (#{storeId}, #{facilityCategoryId})
    </insert>

    <delete id="deleteById" parameterType="StoreFacilityCategoryDTO">
        DELETE
        FROM store_facility_category
        WHERE store_id = #{storeId}
          AND facility_category_id = #{facilityCategoryId}
    </delete>

</mapper>