<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.StoreFacilityCategoryMapper">

    <!-- @formatter:off -->

    <insert id="insert">
        INSERT INTO store_facility_category (store_id, facility_category_id)
        VALUES (#{storeId}, #{facilityId})
    </insert>

    <delete id="delete">
        DELETE
        FROM store_facility_category
        WHERE store_id = #{storeId}
          AND facility_category_id = #{facilityId}
    </delete>

    <!-- @formatter:on -->

</mapper>