<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.StoreCategoryMapper">

    <insert id="insert" parameterType="StoreCategoryDTO">
        INSERT INTO store_category (store_id, category_id)
        VALUES (#{storeId}, #{categoryId})
    </insert>

    <delete id="delete" parameterType="StoreCategoryDTO">
        DELETE
        FROM store_category
        WHERE store_id = #{storeId}
          AND categort_id = #{categoryId}
    </delete>

</mapper>