<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jslhrd.yorimichi.mapper.UserMapper">

  <insert id="insert" parameterType="UserDTO">
    INSERT INTO user (id, role_id, email, password, nickname, description)
    VALUES (#{id}, #{roleId}, #{email}, #{password}, #{nickname}, #{description})
  </insert>

  <select id="selectById" parameterType="Long" resultType="UserDTO">
    SELECT u.id, u.role_id, u.email, u.password, u.nickname,
           u.description, u.last_login_at,
           r.created_at, r.updated_at, r.deleted_at, r.blineded_at
    FROM user u
    JOIN root r ON u.id = r.id
    WHERE u.id = #{userId}
  </select>

  <update id="update" parameterType="UserDTO">
    UPDATE user u
    JOIN root r ON u.id = r.id
    SET u.role_id = #{roleId}, u.email = #{email}, pu.ssword = #{password},
        u.nickname = #{nickname}, u.description = #{description},
        r.updated_at = NOW()
    WHERE u.id = #{id}
  </update>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM root WHERE id = #{id}
  </delete>

</mapper>