<!DOCTYPE html>
<html th:replace="~{layout/layout :: layout(~{::title},~{::section},~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Yorimichi Project </title>
</head>

<body>
    <section>
        <div class="container my-4 border border-bottom-3">
            <div class="row mt-4">
                <div class="col">팔로워</div>
            </div>
            <div class="row">
                <div class="col-1"><!--얘를 반복시켜서 팔로우중인 대상을 보이게 할 것. -->
                    <a href=""><img src=""></a><!-- 이미지로 프사 / href= 유저페이지 링크-->
                    <i class="bi bi-person" style="font-size: 2em; color: #007bff;"></i>
                    <div>임시</div>
                </div>
                <div class="col-1"><!--얘를 반복시켜서 팔로우중인 대상을 보이게 할 것. -->
                    <a href=""><img src=""></a><!-- 이미지로 프사 / href= 유저페이지 링크-->
                    <i class="bi bi-person" style="font-size: 2em; color: #007bff;"></i>
                    <div>임시</div>
                </div>
                <div class="col-1"><!--얘를 반복시켜서 팔로우중인 대상을 보이게 할 것. -->
                    <a href=""><img src=""></a><!-- 이미지로 프사 / href= 유저페이지 링크-->
                    <i class="bi bi-person" style="font-size: 2em; color: #007bff;"></i>
                    <div>임시</div>
                </div>
                <div class="col-1"><!--얘를 반복시켜서 팔로우중인 대상을 보이게 할 것. -->
                    <a href=""><img src=""></a><!-- 이미지로 프사 / href= 유저페이지 링크-->
                    <i class="bi bi-person" style="font-size: 2em; color: #007bff;"></i>
                    <div>임시</div>
                </div>
                <div class="col-1"><!--얘를 반복시켜서 팔로우중인 대상을 보이게 할 것. -->
                    <a href=""><img src=""></a><!-- 이미지로 프사 / href= 유저페이지 링크-->
                    <i class="bi bi-person" style="font-size: 2em; color: #007bff;"></i>
                    <div>임시</div>
                </div>
                <div class="col-1"><!--얘를 반복시켜서 팔로우중인 대상을 보이게 할 것. -->
                    <a href=""><img src=""></a><!-- 이미지로 프사 / href= 유저페이지 링크-->
                    <i class="bi bi-person" style="font-size: 2em; color: #007bff;"></i>
                    <div>임시</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-1">
                    <input type="checkbox">팔로워만
                </div>
                <div class="col-1">
                    <select name="filter">
                        <option value="" selected>전부</option>
                        <option value="review">리뷰</option>
                        <option value="together">같이먹기</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container">
            <th:block th:each="i : ${#numbers.sequence(1,5)}">
                <div class="row">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#">
                    <div class="row">
                        <div class="col">
                            분류
                        </div>
                        <div class="col">
                            <img src="">
                            가게 대표 이미지
                        </div>
                        <div class="col">
                            가게명
                        </div>
                        <div class="col">
                            작성자
                        </div>
                        <div class="col">
                            날짜
                        </div>
                    </div>
                </button>
                </div>
            </th:block>
        </div>
    </section>
</body>

</html>